<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<head>
    <meta charset="UTF-8">
    <title>StreamHub</title>
</head>
<body>
<div class="box">
    <h1>StreamHub</h1>

    <!-- Error message for unsuccessful login. -->
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>

    <!-- Successful Logout message -->
    <div th:if="${logout}" class="logout-message">
        <p th:text="${logout}"></p>
    </div>

    <a th:href="@{/login}"><h3>Login</h3></a>
    <a th:href="@{/registration}"><h3>Register</h3></a>
</div>
</body>
</html>
