<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
<head>
    <meta charset="UTF-8">
    <title>StreamHub</title>
</head>
<body>
<div class="box">
    <a th:href="@{/}" class="back-link">&#8592; Back</a>
    <h1>Login</h1>

    <!-- Message to display for successful registration -->
    <div th:if="${successfulRegistration}" class="successful-registration-message">
        <p th:text="${successfulRegistration}"></p>
    </div>

</div>
</body>
</html>
